*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: white;
}

.navbar{
	display: flex;
	justify-content: space-between; 
	align-items: center;
	background-color: #753422;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px ;
	color: white;
}

.brand-title{
	font-size: 1.5rem;
	margin: 0.5rem;
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li{
	 list-style: none;
}

.navbar-links li a {
	position: relative;
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar-links a:hover{
	background-color: #E1D7C6;
}

.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media(max-width: 400px){
	.toggle-button{
		display: flex;

	}

	.navbar-links{
		display: none;
		width: 100%;
	}

	.navbar{
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul{
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li{
		text-align: center;
	}

	.navbar-links li a{
		padding: .5rem 1rem;
	}

	.navbar-links.activ{
		display: flex;
	}
}

/* Login Window below */

.container-login-window{
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.login-window{
	width: 400px;
	height: 400px;
	border: 2px solid #753422;
	border-radius: 20px;
}

.element-size{
	
}

.logo{
	text-align: center;
	font-size: 1.5rem;
	color: #753422;
}

.form{
	margin-top: 125px;
}

input{
	width: 230px;
	height: 30px;
	position: relative;
	left: 80px;
	margin: 10px;
	border: 2px solid #753422;
	border-radius: 6px;
	color: gray;
}

button{
	width: 230px;
	height: 30px;
	position: relative;
	margin: 10px;
	left: 80px;
	border: 2px solid #753422;
	border-radius: 6px;
	background-color: white;
}

button:hover{
	background-color: #E1D7C6;
}

input:hover{
	background-color: #E1D7C6;
}

input:focus{
	border: 2px solid #753422;
	outline: none
}

h5{
	text-align: center;
	margin: 0;
	margin-top: 5px;
}

.links-below-logi a{
	text-decoration: none;
	color: #753422;
}

.fotter{
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 45px;
	background-color: #753422;

}