*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	width: 100%;
	background-color: white;
}

a{
	text-decoration: none;
}

/* Header */

header{
	width: 100%;
	background-color: antiquewhite;
	padding: 20px 80px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-bottom: 2px solid rgb(0, 0, 0, 0.3);
}

header .logo{
	width: 250px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar {
	display: flex;
	align-items: center;
}

.navbar ul{
	display: flex;
	align-items: center;
}

ul li{
	margin-left: 70px;
	list-style: none;
}

ul li a{
	color: black;
	font-size: 25px;
	position: relative;
	margin-left: 40px;
}

.navbar a::before{
	content: '';
	position: absolute;
	top:100%;
	left: 0;
	width: 0;
	height: 1px;
	background:rgb(0, 0, 0, 0.7);
	transition: 0.5s;
}

.navbar a:hover::before{
	width: 100%; 
}

/* Main */

main{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container-register-forgot-password{
	width: 100%;
	background-color: white;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.field{
	width: 70%;
	height: 95%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 200px;
}

.input-field{
	width: 30%;
	height: 95%;
	background-color: antiquewhite;
	border: 2px solid rgb(0, 0, 0, 0.4);
	border-radius: 25px;
	min-width: 350px;
	min-height: 538px;
}

.action-title{
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	margin: 20px 0px;
}

.input{
	margin-top: 30px;
	width: 100%;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.input-box {
	position: relative;
} 

.input-box i {
	font-size: 20px;
	position: absolute;
	right: 20px;
	top: 11px;
}

.input-box input{
	width: 300px;
	height: 30px;
	border-radius: 15px;
	border: 2px solid rgb(0, 0, 0, 0.4);
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
	font-size: 15px;
}

.remember-me label input{
	accent-color: grey; 
}


.input-field .btn button{
	width: 150px;
	height: 40px;
	border-radius: 10px;
	font-size: 15px;
	border: 2px solid rgb(0, 0, 0, 0.4);
}

.input-field .btn button:hover{
	font-size: 16px;
	background-color: gainsboro;
	cursor: pointer;
	border: 2px solid rgb(0, 0, 0, 1);
}

.register-forgot p{
	text-align: center;
	margin-bottom: 10px;
}

/* Reset Password */

.input-reset{
	margin-top: 50px;
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
}

@media (max-width: 1350px){
	
	header{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		gap: 20px
	}
	
	header .logo{
		width: 100%;
		justify-content: center;
		text-align: center;
	}
	
	.navbar {
		width: 100%;
		justify-content: center;
		text-align: center;
	}

	.quote-field{
		flex-direction: column;
	}

}

@media (max-width: 950px){
	
	.field{
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

}

@media (max-width: 600px){
	
	.navbar ul{
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: center;
		text-align: center;
	}

}