/* UTILITIES */
* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	display: block;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR  */

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	background-color: #3C2A21;
}

.header .logo{
	font-size: 32px;
	color: white;
	text-decoration: none;
	font-weight: 700;
}

.logo i{
	color: yellow;
}

.bars{
	display: none;
}

.dropdown{
		display: flex;
		justify-content: space-between;
}

.dropdown li{
	margin-left: 40px;
}

.dropdown a{
	position: relative;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
}

.dropdown a::before{
	content: '';
	position: absolute;
	top:100%;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: 0.5s;
}

.dropdown a:hover::before{
	width: 100%; 
}

@media(max-width: 1100px){

	.navbar {
		display: inline-block;
		gap: 1em;
		font-size: 18px;
		position: relative;
	}

	.dropdown{
		background-color: #3C2A21;
		background-size: cover;
		padding: 1em 0;
		position: absolute;
		right: -2px;
		display: none;
		border-radius: 8px;
		top: 30px;
	}
	
	.bars{
		display: flex;
		justify-content: end;
	}

	.bars a{
		position: relative;
		color: #fff;
		font-size: 25px;
	}

	.navbar li{
		padding: 5px 14px;
	}

	.dropdown li + li {
		margin-top: 0px;
	}
	
	.dropdown li {
		margin-left: 0px;
		margin-top: 10px; 
		width: 8em;
		text-align: end;
	}
	
	.dropdown li:hover {
		background-color: #4c9e9e;
	}
	
	.menu:hover .dropdown {
		display: block;
	}
}

@media(max-width: 575px){
	header{
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 100;
		background-color: #3C2A21;
	}

	.navbar li{
		padding: 5px 14px;
	}

	.dropdown li {
		text-align: center;
	}

}

/* Wrapper */

.wrapper{
	width: 100%;
	height: 100vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choose-field{
	width: 70%;
	height: 80%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rectangle{
	width: 250px;
	height: 250px;
	background-color: #fff;
	border: 2px solid #3C2A21;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-shadow: #4c9e9e;
}

.action{
	display: flex;
}

.action i{
	font-size: 25px;
	position: relative;
	top: -3px;
}

.link{
	font-weight: bold;
	padding: 5px 10px;
	border: 2px solid #3C2A21;
	border-radius: 20px;
	color: #3C2A21;
}

.link a{
	color: black;
}

.link:hover{
	background-color: #f1dacf;
}

.description{
	width: 90%;
	text-align: center;
	font-weight: 300;
}

#income{
	color: green;
}

#expense{
	color: red;
}

#balance{
	color: darkcyan;
}


@media(max-width: 575px){
	.wrapper{
		position: relative;
		padding-top: 40px;
	}

}